:root {
  --font-size-nano: 0.8rem;
  --font-size-micro: 1rem;
  --font-size-mini: 1.2rem;
  --font-size-small: 1.25rem;
  --font-size-default: 1.3rem;
  --font-size-medium: 1.35rem;
  --font-size-two: 1.6rem;
  --font-size-large: 1.7rem;
  --font-size-big: 2rem;
  --font-size-bigger: 2.5rem;
  --font-size-mega: 3.4rem;
  --font-size-giga: 4rem;
}
